body, html {
    height: 100%;
}

body  {
    background: url('https://images5.alphacoders.com/103/thumb-1920-1035809.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    color: white;
}

h1 {
    text-shadow: 2px 2px 5px black;
}

.label {
    color: white;
}
